@charset "UTF-8";
div.container {
    padding: 3px;
    background-color: rgb(44, 109, 228);
    border: 3px solid rgb(131, 131, 244);
    display: flex;
    flex-flow: row wrap;
}
div.item {
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid rgb(103, 88, 5);
    margin-right: 2px;
    padding: 5px;
    flex: auto;
}