@charset "UTF-8";
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
background-image: linear-gradient(#F2E8DF,#F2C6C2 ,#F28585);
}
main{
background-color: #fff;
border-radius: 5px;
box-shadow: 5px 5px 15px #ac8c899a;
width: 600px;
padding: 10px;
margin: auto;
}
h1{
    color:#86A69D ;
    text-align: center;
    text-shadow:1px 1px 2px #dbb3b0;
}
h2{
color:#af6262 ;
}
p{
    text-align: justify;
}